.blocflex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.blocflex__article{
    margin: 10px;
    background-color: white;
    padding: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0);
    flex:1 0 300px;

}
.blocflex__article:hover{
   transform: scale(1.03);
    transition: .5s;
    background-color: rgb(237, 238, 239);
}
.blocflex__galerie{
   
    flex:1 0 100%;

}

//////////////////i add this///////////////////
@media only screen and (max-width: 765px) {
    .blocflex {
        display: block;
    }
    
    .blocflex__article {
        flex-basis: 100%;
        margin-bottom: 20px;
    }
}
