
.logomenu{
    display: flex;
    justify-content: space-between;
    align-items: center;

  

 }
 .site__entete{
  


 }

 img{
    width:150px;
    height: 150px;
    
    
 }
 .menusearch{
   display: flex;
   justify-content: flex-start;
   align-items: flex-end;
   flex-direction: column-reverse;
   @media screen and (min-width:1000px) {
      flex-direction: row;
      align-items: flex-end;
      // flex: 1;
      
   }

 }


.menu-entete-container{
    flex:1;
    .menu{
         //ul
         display: flex;
         justify-content: flex-end;
         flex-wrap: wrap;
         padding: 20px;
         margin-left: auto;
         .menu-item{
             //li
             flex: 1 0 70px;
             list-style: none;
           

             a{
               white-space: nowrap;
                text-decoration: none;
                padding: 3px 5px;
              


             }
             a:hover{
                color: rgb(233, 147, 42);
             }


         }
    }
}

.recherche{
   display: flex;
   flex-wrap: nowrap;

}