

/* Site Header */
.site__entete {
    text-align: center;
      a {
      color: black;
      text-decoration: none;
    }
  }
  
  /* Logo and Navigation */
  .logomenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;

       @media screen and (max-width: 768px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  
  .logomenu img {
    margin-left: 30px;
    border-radius: 50%;
  }
  
  .logomenu img:hover {
    transform: scale(1.05);
  }
  
  .logomenu > a > img {
    display: block;
  
  
  
    @media screen and (min-width: 500px) {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
  }
  
  /* Search Menu */
  .menusearch {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-right: 50px;
    gap: 10px;
  
    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: flex-end;
    }
  
    @media screen and (max-width: 768px) {
      padding-top: 18px;
    }
  }
  
  /* Burger Menu */
  #chkBurger {
    display: none;
  }
  
  #chkBurger:checked ~ .menu-entete-container {
    transform: translateX(0);
  }
  
  .burger {
    display: none;
    position: absolute;
  }
  
  /* Main Menu */
  .menu-entete-container {
   
    transition: transform 0.3s;
    text-transform: uppercase;
  
    @media screen and (min-width: 500px) {
      transform: translateX(0);
    }
  
    .menu {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      list-style-type: none;
      flex-wrap: wrap;
      max-width: 100%;
      font-size: clamp(.9rem, .9rem + .9vw, .9rem);
      font-family: Arial, Helvetica, sans-serif;
      gap: 30px;
  
      @media screen and (min-width: 500px) {
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
      }
  
      @media screen and (min-width: 501px) and (max-width: 768px) {
        flex-direction: column;
        gap: 0;
       
      }
  
      @media screen and (max-width: 768px) {
        flex-direction: column;
        gap: 0;
      }
  
      .menu-item {
        flex: 1 0 100px;
        min-width: 200px;
        transition: all 0.2s ease-in-out;
        max-height: 50px;
  
        a {
          white-space: nowrap;
          font-family: 'Roboto', sans-serif;
          text-decoration: none;
          color: black;
         
        }
  
        a:hover {
          color: #544410;
        }
      }
  
      .menu-item:hover {
        transform: scale(1.05);
      }
    }
  }
  
  /* Search Box */
  .recherche {
    display: flex;
    flex-wrap: nowrap;
  }
  
  /* Text Header */
  .texte-entete {
    text-align: left;
    padding-left: 120px;
    padding-top: 50px;
    padding-bottom: 20px;
    
  }  
////////////////////////////////////////

