
      .menu__bloc{ // nav

//       margin: 0 auto;
    .menu { //ul
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
        list-style-type: none;
        
      
        .menu-item {  //li
        
            border: 1px solid rgb(243 239 239);
            background-color: rgb(236, 222, 186);
            box-shadow: 0 20px 30px rgba(0,0,0);
            flex: 1 0 10%;
           
          a {
               font-size: 1.5rem;
                text-decoration: none;
              
                
            }
        
        }
     
        .menu-item:hover {
            background-color: #f3eee7;
            a{
               color:#448787;
            }
        
         }
    }
}
      

.evenement__porte {
   // background-image: url('https://s2.svgbox.net/octicons.svg?ic=bell');
   
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/3/34/Home-icon.svg');
    background-repeat: no-repeat;
  
    background-size: contain;
     a{
        margin-left: 60px;
        color: rgb(199, 143, 66);
      
     }
     span{
        margin-left: 50px;
     }
     @media only screen and (max-width:1200px){
      
            padding: 2px; /* add some padding */
            a {
              font-size: .8rem; /* reduce the font size */
            }
            span {
            display: none;
            }
         
     }
    
}
.evenement__evaluation{

    
    background-image: url('https://cdn-icons-png.flaticon.com/512/2280/2280294.png');
    background-repeat: no-repeat;
  
    background-size: contain;
     a{
        margin-left: 60px;
        color: rgb(238, 161, 52);
      
     }
     span{
        margin-left: 50px;
     }
     @media only screen and (max-width:1200px){
       
            padding: 2px; /* add some padding */
            a {
              font-size: .8rem; /* reduce the font size */
            }
            span {
            display: none;
            }
         
     }

}

/////////////////////////////////////////

.evenement__mensuelle{

    
   background-image: url('https://cdn-icons-png.flaticon.com/512/115/115902.png');
   background-repeat: no-repeat;
 
   background-size: contain;
    a{
       margin-left: 60px;
       color: rgb(136, 144, 71);
     
    }
    span{
       margin-left: 50px;
    }
    @media only screen and (max-width:1200px){
      
           padding: 2px; /* add some padding */
           a {
             font-size: .8rem; /* reduce the font size */
           }
           span {
           display: none;
           }
        
    }

}







  
       


  
          
        
        


  