.menu__bloc{ // nav

    .menu{// ul
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        gap: 15px;
        .menu-item{//li
            border:1px solid #aaa;
            flex:1 0 33%;
            background-color: white;
            box-shadow: 0 20px 30px rgba(0,0,0);


            a{
                font-size: 2rem;
                text-decoration: none;

            }
        }

    }
}